.container-fluid{
    &__box{
     min-height: 100vh;
    }
    &__menu{
        background-color: yellow;

        &-adminName{
            background-color: green;
            min-height: 15%
        }
        &-logOutBtn{
            min-height: 50%;
        }
    }

    &__page{
        
    }
}

.b{
    border:1px solid black;
}
.r{
    border:1px solid black;
}
.adminHomepage{
    min-height: 96vh;
    color:red;
   
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(190,214,214,1) 100%);
border-radius: 5px;

&--box{
    color:brown;
    
    margin: 2rem;
    min-height: 80vh;
    background: red;
    
    border-radius: 5px;
    
}
}